**04 - Python for Data Analysis - Pandas**

In [3]:
import numpy as np

In [4]:
import pandas as pd

***1. Series***

In [36]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [37]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [38]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [39]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [ ]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [ ]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [ ]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser1['USA']

1

In [ ]:
ser3 = pd.Series(data = labels)

In [ ]:
ser3[0]

'a'

In [ ]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser1 + ser2        # convert into float

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

***2. Data Frames - Part 1***

In [40]:
from numpy.random import randn

In [41]:
np.random.seed(101)

(1) Create a dataframe pd.DataFrame

In [42]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

(2) Select columns

In [43]:
df['W']       # Output: series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [44]:
type(df['W'])

pandas.core.series.Series

In [45]:
type(df)

pandas.core.frame.DataFrame

In [46]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64



> Select a list of columns

In [47]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509



> Create new columns

In [48]:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762



> Drop columns (axis = 1)

In [49]:
df.drop('new',axis = 1, inplace = True)
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509



> Drop rows (axis = 0)

In [50]:
df.drop('E', axis = 0)    # not doing in place = temp

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [51]:
df.shape

(5, 4)

In [52]:
df[['Z','X']]

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
C -0.589001  0.740122
D  0.955057 -0.758872
E  0.683509  1.978757

(3) Select Rows

In [53]:
df.loc['A']       # Rows are series as well

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [55]:
df.iloc[2]     # Select C row

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [56]:
df.loc['B','Y']

-0.8480769834036315

In [57]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

***3. DataFrames - Part2***

(1) Conditional operators

In [60]:
booldf = df > 0
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [61]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [62]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [64]:
df['W'] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [65]:
df[df['W'] > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [67]:
resultdf = df[df['W'] > 0]

In [68]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [70]:
df[df['W'] > 0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [72]:
boolser = df['W'] > 0
result = df[boolser]
mycols = ['Y','X']
result[mycols]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757



> And / Or

In [74]:
df[(df['W'] > 0) & (df['Y'] > 1)]    # and

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [75]:
df[(df['W'] > 0) | (df['Y'] > 1)]     # or

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

(2) Set / Reset index

In [78]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [82]:
newind = 'CA NY WY OR CO'.split()      # split() create a list
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [87]:
df['States'] = newind
df

          W         X         Y         Z State States
A  2.706850  0.628133  0.907969  0.503826    CA     CA
B  0.651118 -0.319318 -0.848077  0.605965    NY     NY
C -2.018168  0.740122  0.528813 -0.589001    WY     WY
D  0.188695 -0.758872 -0.933237  0.955057    OR     OR
E  0.190794  1.978757  2.605967  0.683509    CO     CO

In [88]:
df.set_index('States')

               W         X         Y         Z State
States
CA      2.706850  0.628133  0.907969  0.503826    CA
NY      0.651118 -0.319318 -0.848077  0.605965    NY
WY     -2.018168  0.740122  0.528813 -0.589001    WY
OR      0.188695 -0.758872 -0.933237  0.955057    OR
CO      0.190794  1.978757  2.605967  0.683509    CO

In [89]:
df

          W         X         Y         Z State States
A  2.706850  0.628133  0.907969  0.503826    CA     CA
B  0.651118 -0.319318 -0.848077  0.605965    NY     NY
C -2.018168  0.740122  0.528813 -0.589001    WY     WY
D  0.188695 -0.758872 -0.933237  0.955057    OR     OR
E  0.190794  1.978757  2.605967  0.683509    CO     CO

***3. DataFrames - Part 3***

In [92]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [98]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [99]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [101]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [104]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
G2     1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646

In [107]:
df.loc['G2'].loc[2]['B']

0.07295967531703869

In [108]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [109]:
df.xs(1,level = 'Num')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

***4. Missing Data***

In [110]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [112]:
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

(1) dropna

In [116]:
df.dropna()

     A    B  C
0  1.0  5.0  1



> Drop columns

In [115]:
df.dropna(axis = 1)

   C
0  1
1  2
2  3



> thresh

In [117]:
df.dropna(thresh = 2)     # because has 2 non-na values, keep that row

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

(2) fillna

In [118]:
df.fillna(value = 'FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [120]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

***5. Groupby***

In [1]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
        'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
        'Sales':[200,120,340,124,243,350]}

In [6]:
df = pd.DataFrame(data)
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [9]:
byComp = df.groupby('Company')

In [10]:
byComp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [11]:
byComp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [12]:
byComp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [14]:
byComp.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [15]:
df.groupby('Company').sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [17]:
df.groupby('Company').min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [20]:
df.groupby('Company').describe().transpose()['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64

***6. Merging, Joining and Concatenating***

In [21]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']},
                   index = [0,1,2,3])

In [22]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                    'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'],
                    'D':['D4','D5','D6','D7']},
                   index = [4,5,6,7])

In [23]:
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],
                    'B':['B8','B9','B10','B11'],
                    'C':['C8','C9','C10','C11'],
                    'D':['D8','D9','D10','D11']},
                   index = [8,9,10,11])

In [24]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [25]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [26]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

(1) Concatenation

In [27]:
pd.concat([df1,df2,df3])     # by rows

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [28]:
pd.concat([df1,df2,df3],axis = 1)      # by columns

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

(2) Merge

In [30]:
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

In [31]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [32]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [33]:
pd.merge(left,right,how = 'inner',on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [34]:
left = pd.DataFrame({'key1':['K0','K0','K1','K2',],
                     'key2':['K0','K1','K0','K1'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                      'key2':['K0','K0','K0','K0'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

In [35]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [36]:
pd.merge(left,right,how='outer',on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [37]:
pd.merge(left,right,how='right',on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [38]:
pd.merge(left,right,how='left',on=['key1','key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

(3) Joining

In [39]:
left = pd.DataFrame({'A':['A0','A1','A2'],
                     'B':['B0','B1','B2']},
                     index = ['K0','K1','K2'])
right = pd.DataFrame({'C':['C0','C2','C3'],
                      'D':['D0','D2','D3']},
                     index = ['K0','K2','K3'])

In [40]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [41]:
left.join(right,how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

***7. Operations***

In [42]:
df = pd.DataFrame({'col1':[1,2,3,4],
                   'col2':[444,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

(1) nunique

In [43]:
df['col2'].unique()

array([444, 555, 666])

In [44]:
len(df['col2'].unique())

3

In [45]:
df['col2'].nunique()

3

(2) value_counts()

In [46]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

(3) Conditional operators

In [49]:
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [50]:
df[(df['col1']>2) & (df['col2'] == 444)]

   col1  col2 col3
3     4   444  xyz

(4) apply functions

In [51]:
def times2(x):
  return x*2

In [53]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [55]:
df['col3'].apply(times2)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [57]:
df['col2'].apply(lambda x:x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

(5) drop

In [59]:
df.drop('col1',axis = 1, inplace = True)

In [60]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [61]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [62]:
df.index

RangeIndex(start=0, stop=4, step=1)

(6) sort_values

In [64]:
df.sort_values(by = 'col2')

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

(7) isnull

In [65]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [67]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
        'C':['x','y','x','y','x','y'],
        'D':[1,3,2,5,4,1]}
df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

(8) pivot_table

In [68]:
df.pivot_table(values = 'D', index = ['A','B'], columns = ['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

***8. Data Input and Output***

In [73]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.36)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.2.0)

In [74]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

In [75]:
pip install html5lib

Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)

In [76]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [5]:
from google.colab import files
uploaded = files.upload()

Saving example to example

In [9]:
df = pd.read_csv('example')

In [10]:
df.to_csv('My_output',index = False)

In [11]:
df.to_excel('Excel_Sample2.xlsx',sheet_name = 'NewSheet')

In [1]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('sqlite:///:memory:')

In [13]:
df.to_sql('my_table',engine)

In [15]:
sqldf = pd.read_sql('my_table',con = engine)

In [16]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15